<div class="room-evening py-5">
  <div class="container pt-3 py-5">
    <div class="row mb-5">
      <h3 class="col col-md-3 offset-md-1 rounded text-danger text-center border border-warning title-myedit">
        <strong>会員情報編集</strong>
      </h3>
    </div>

    <%= form_with model: @customer, url: customer_path(current_customer.id) do |f| %>
    <%= render "public/shared/error_messages", resource: @customer %>
    <div class="row mb-3">
      <div class="col col-md-8 offset-md-2">
        <div class="field py-3">
          <label class="name">名前　　　　　　　　　　</label>
          <%= f.text_field :last_name, autofocus: true, placeholder:"令和", required: true %>
          <%= f.text_field :first_name, placeholder:"道子", required: true %>
        </div>

        <div class="field">
          <label class="kana">フリガナ　　　　　　　　</label>
          <%= f.text_field :last_name_kana, placeholder:"レイワ", required: true %>
          <%= f.text_field :first_name_kana, placeholder:"ミチコ", required: true %>
        </div>

        <div class="field py-3">
          <label class="email">メールアドレス　　　　　</label>
          <%= f.email_field :email, placeholder:"sample@example.com", required: true %>
        </div>
      </div>
    </div>

    <div class="row py-5">
      <div class="actions col col-md-2 offset-md-4">
        <%= f.submit "　　編集内容を保存　　", class:"btn btn-success" %>
      </div>
      <div class="actions col col-md-2 offset-md-2">
        <%= link_to "　退会する　", customers_unsubscribe_path, class: "btn btn-danger" %>
      </div>
    </div>
    <% end %>
  </div>
</div>