<div class="admin-tastes">
  <div class="container">
    <div class="row py-5">
      <h3 class="col col-md-2 py-1 rounded text-center offset-md-1" style="background-color:rgba(67,224,0,0.4);">
        <strong>会員一覧</strong>
      </h3>
    </div>

    <div class="row pb-5">
      <div class="col-md-5 offset-md-7">
        <%= search_form_for @q do |f| %>
          <div class="row py-2">
            <!--name_contは、あいまい検索を指定-->
            <%= f.label :last_name, "名前(姓)" %>
            <div class="pl-3"><%= f.search_field :last_name_cont, placeholder:"部分一致あり" %></div>
            </div>
            <div class="row">
            <%= f.label :first_name, "名前(名)" %>
            <div class="pl-3"><%= f.search_field :first_name_cont, placeholder:"部分一致あり" %></div>

            <div class="pl-3"><%= f.submit "検索" %></div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6 offset-md-6 d-flex align-items-center justify-content-center text-danger">
        ※名前が詳細ページのリンクになっております。
      </div>
    </div>

    <div class="row">
      <div class="col mx-auto">
        <table class="table table-bordered">
          <thead style="background-color:rgba(67,224,0,0.4);">
            <tr>
              <th>会員ID</th>
              <th>名前</th>
              <th>フォローステータス</th>
              <th>フォロー数</th>
              <th>フォロワー数</th>
            </tr>
          </thead>
          <tbody style="background-color:rgba(248,255,228,0.8);">
            <% @customers.each do |customer| %>
              <% if customer.is_deleted == false && customer.id != 1 %>
              <tr>
                <td><%= customer.id %></td>
                <td>
                  <%= link_to customer_path(customer.id), style: "color: #000; text-decoration: none;" do %>
                    <%= customer.last_name %><%= customer.first_name %>
                  <% end %>
                </td>
                <td>
                  <% if customer.id != current_customer.id %>
                    <% if current_customer.following?(customer) %>
                      <%= link_to "フォロー中", customer_relationships_path(customer.id), method: :delete, style: "color: #ff0303; text-decoration: none;" %>
                    <% else %>
                      <%= link_to "フォローする", customer_relationships_path(customer.id), method: :post, style: "text-decoration: none;" %>
                    <% end %>
                  <% end %>
                </td>
                <td><%= customer.followings.count %>人</td>
                <td><%= customer.followers.count %>人</td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>