<div class="room-noon py-5">
  <div class="container  py-5">
    <div class="row mb-5">
      <% if @customer.id == current_customer.id %>
      <h3 class="col col-md-3 offset-md-1 rounded text-success text-center border border-success title-myshow">
        <strong>сЃъсѓцсЃџсЃ╝сѓИ</strong>
      </h3>
      <% else %>
      <h3 class="col col-md-4 offset-md-1 rounded text-success text-center border border-success title-myshow">
        <strong><%= @customer.last_name %><%= @customer.first_name %></strong>сЂЋсѓЊсЂ«УЕ│у┤░сЃџсЃ╝сѓИ
      </h3>
      <% end %>
    </div>
    <div class="row mb-4">
      <table class="table table-bordered col col-md-8 offset-md-2">
        <tr>
          <td style="background-color:rgba(44,199,87,0.6);" width="25%">тљЇтЅЇ</td>
          <td style="background-color:rgba(255,255,255,0.6);" width="75%">
            <span class="mr-2"><%= @customer.last_name %></span>
            <span><%= @customer.first_name %></span>
          </td>
        </tr>
        <tr>
          <td style="background-color:rgba(44,199,87,0.6);">сѓФсЃі</td>
          <td style="background-color:rgba(255,255,255,0.6);">
            <span class="mr-2"><%= @customer.last_name_kana %></span>
            <span><%= @customer.first_name_kana %></span>
          </td>
        </tr>
        <% if @customer.id == current_customer.id %>
        <tr>
          <td style="background-color:rgba(44,199,87,0.6);">сЃАсЃ╝сЃФсѓбсЃЅсЃгсѓ╣</td>
          <td style="background-color:rgba(255,255,255,0.6);"><%= @customer.email %></td>
        </tr>
        <% else %>
        <tr>
          <td style="background-color:rgba(44,199,87,0.6);">сЃЋсѓЕсЃГсЃ╝сѓ╣сЃєсЃ╝сѓ┐сѓ╣</td>
          <td style="background-color:rgba(255,255,255,0.6);">
            <% if current_customer.following?(@customer) %>
              <%= link_to "сЃЋсѓЕсЃГсЃ╝СИГ", customer_relationships_path(@customer.id), method: :delete, style: "color: #ff0303; text-decoration: none;" %>
            <% else %>
              <%= link_to "сЃЋсѓЕсЃГсЃ╝сЂЎсѓІ", customer_relationships_path(@customer.id), method: :post, style: "text-decoration: none;" %>
            <% end %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td style="background-color:rgba(44,199,87,0.6);">сЃЋсѓЕсЃГсЃ╝ТЋ░</td>
          <td style="background-color:rgba(255,255,255,0.6);"><%= @customer.followings.count %>С║║</td>
        </tr>
        <tr>
          <td style="background-color:rgba(44,199,87,0.6);">сЃЋсѓЕсЃГсЃ»сЃ╝ТЋ░</td>
          <td style="background-color:rgba(255,255,255,0.6);"><%= @customer.followers.count %>С║║</td>
        </tr>
        <tr>
          <td style="background-color:rgba(44,199,87,0.6);">жЃет▒ІсЂ«ТіЋуе┐ТЋ░</td>
          <td style="background-color:rgba(255,255,255,0.6);">
            <%= @customer.rooms.count %>жЃет▒І
          </td>
        </tr>
      </table>
    </div>
    <% if @customer.id == current_customer.id %>
    <div class="row pb-5">
      <div class="col col-md-3 offset-md-3">
        <%= link_to "сђђС╝џтЊАТЃЁта▒уиежЏєсђђ", edit_customer_path, class: "btn btn-success" %>
      </div>
      <div class="col col-md-3 offset-md-1">
        <%= link_to "сђђжЃет▒ІТќ░УдЈуЎ╗жї▓сђђ", new_room_path, class: "btn btn-warning" %>
      </div>
    </div>
    <% end %>


    <div class="row pt-5 my-5">
      <% if @customer.id == current_customer.id %>
      <h3 class="col col-md-3 offset-md-1 rounded text-success text-center border border-success title-myshow">
        <strong>УЄфтѕєсЂ«ТіЋуе┐СИђУдД</strong>
      </h3>
      <% else %>
      <h3 class="col col-md-4 offset-md-1 rounded text-success text-center border border-success title-myshow">
        <strong><%= @customer.last_name %><%= @customer.first_name %></strong>сЂЋсѓЊсЂ«жЃет▒ІСИђУдД
      </h3>
      <% end %>
    </div>

    <div class="row mt-5">
      <div class="col-md-5 offset-md-6 d-flex align-items-center justify-content-center text-danger">
        Рђ╗жЃет▒ІсЂ«тєЎуюЪсЂїУЕ│у┤░сЃџсЃ╝сѓИсЂ«сЃфсЃ│сѓ»сЂФсЂфсЂБсЂдсЂісѓісЂЙсЂЎсђѓ
      </div>
    </div>

    <div class="row py-3 border border-success" style="background-color:rgba(44,199,87,0.6);">
      <div class="col-md-5 text-center">
        < - - жЃет▒ІсЂ«тєЎуюЪ - - >
      </div>
      <div class="col-md-2 text-center">
        < - - сЃдсЃ╝сѓХсЃ╝тљЇ - - >
      </div>
      <div class="col-md-5 text-center">
        < - - жЃет▒ІсЂ«у┤╣С╗ІТќЄ - - >
      </div>
    </div>

    <% @rooms.each do |room| %>
    <div class="row py-3 border border-top-0 border-light" style="background-color:rgba(255,255,255,0.6);">
      <div class="col-md-5 text-center">
        <%= link_to room_path(room) do %>
          <%= image_tag room.room_image, width: "100%", height: "250" %>
        <% end %>
      </div>
      <div class="col-md-2 pt-3">
        <div class="row text-center" style="width:100%">
          <div  style="flex: 0 0 100% !important;">
            <div class="col-12 text-center">
              <% if @customer.id == current_customer.id %>
                УЄфтѕєсЂ«ТіЋуе┐
              <% else %>
                <%= room.customer.last_name %><%= room.customer.first_name %>сЂЋсѓЊ
              <% end %>
            </div>
          </div>
        </div>

        <div class="row text-center pt-5" style="width:100%">
          <div  style="flex: 0 0 100% !important;">
            <div class="col-12 text-center">
              <%= room.taste.name %>
            </div>
          </div>
        </div>

        <div class="row py-5" style="width:100%">
          <div  style="flex: 0 0 100% !important;">
            <div class="col-12 text-center">
              <% if room.favorited_by?(current_customer) %>
                <%= link_to room_favorites_path(room), method: :delete, style: "color: #ff0303; text-decoration: none;" do %>
                  <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                  <%= room.favorites.count %> сЂёсЂёсЂГ­ЪЉЇ
                <% end %>
              <% else %>
                <%= link_to room_favorites_path(room), method: :post, style: "text-decoration: none;" do %>
                  <i class="fas fa-heart" aria-hidden="true"></i>
                  <%= room.favorites.count %> сЂёсЂёсЂГ
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 text-center py-5">
        <%= room.introduction %>
      </div>
    </div>
    <% end %>
  </div>
</div>