<div class="room-noon py-5">
  <div class="container  py-5">
    <div class="row mb-5">
      <h4 class="col col-md-2 offset-md-1 text-center title-myshow">
        <strong>マイページ</strong>
      </h4>
    </div>
    <div class="row mb-4">
      <table class="table col col-md-8 offset-md-2" border="2">
        <tr>
          <td bgcolor="#F2F2F2" width="25%">氏名</td>
          <td bgcolor="#fff" width="75%">
            <span class="mr-2"><%= @customer.last_name %></span>
            <span><%= @customer.first_name %></span>
          </td>
        </tr>
        <tr>
          <td bgcolor="#F2F2F2">カナ</td>
          <td bgcolor="#fff">
            <span class="mr-2"><%= @customer.last_name_kana %></span>
            <span><%= @customer.first_name_kana %></span>
          </td>
        </tr>
        <tr>
          <td bgcolor="#F2F2F2">メールアドレス</td>
          <td bgcolor="#fff"><%= @customer.email %></td>
        </tr>
      </table>
    </div>
    <div class="row pb-5">
      <div class="col col-md-3 offset-md-3">
        <%= link_to "　会員情報編集　", edit_customer_path, class: "btn btn-success" %>
      </div>
      <div class="col col-md-3 offset-md-1">
        <%= link_to "　部屋新規登録　", new_room_path, class: "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>