<div class="room-noon py-5">
  <div class="container  py-5">
    <div class="row mb-5">
      <h3 class="col col-md-3 offset-md-2 text-success text-center border border-success title-myshow">
        <strong>マイページ</strong>
      </h3>
    </div>
    <div class="row mb-4">
      <table class="table table-bordered col col-md-8 offset-md-2">
        <tr>
          <td style="background-color:rgba(44,199,87,0.6);" width="25%">氏名</td>
          <td style="background-color:rgba(255,255,255,0.6);" width="75%">
            <span class="mr-2"><%= @customer.last_name %></span>
            <span><%= @customer.first_name %></span>
          </td>
        </tr>
        <tr>
          <td style="background-color:rgba(44,199,87,0.6);">カナ</td>
          <td style="background-color:rgba(255,255,255,0.6);">
            <span class="mr-2"><%= @customer.last_name_kana %></span>
            <span><%= @customer.first_name_kana %></span>
          </td>
        </tr>
        <tr>
          <td style="background-color:rgba(44,199,87,0.6);">メールアドレス</td>
          <td style="background-color:rgba(255,255,255,0.6);"><%= @customer.email %></td>
        </tr>
      </table>
    </div>
    <% if @customer.id == current_customer.id %>
    <div class="row pb-5">
      <div class="col col-md-3 offset-md-3">
        <%= link_to "　会員情報編集　", edit_customer_path, class: "btn btn-success" %>
      </div>
      <div class="col col-md-3 offset-md-1">
        <%= link_to "　部屋新規登録　", new_room_path, class: "btn btn-warning" %>
      </div>
    </div>
    <% end %>
  </div>
</div>