<%# 以下の.nested-fieldsは、必須です。 %>
<div class="nested-fields">
  <div class="field">
    <%# link_to_add_associationのform_nameで指定した名前。(初期値 : f)  %>
    <div class="form-group">
      <div class="row mt-3">
        <div class="col-md-3">
          <%= furniture.label :furniture_image, '家具の写真選択' %>
        </div>
        <div class="col-md-9">
          <%= furniture.file_field :furniture_image, placeholder:"部屋の写真", required: true, accept: "image/*", onchange: 'previewImage(this);' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row mt-3">
        <div class="col-md-3">
          <%= furniture.label :name, '家具の名前' %>
        </div>
        <div class="col-md-9">
          <%= furniture.text_field :name, required: true %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row mt-3">
        <div class="col-md-3">
          <%= furniture.label :price, '家具の税抜き価格' %>
        </div>
        <div class="col-md-9">
          <%= furniture.number_field :price, min: 0, placeholder: "1000", required: true %>円
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row mt-3">
        <div class="col-md-3">
          <%= furniture.label :introduction, '家具の紹介文' %>
        </div>
        <div class="col-md-9">
          <%= furniture.text_area :introduction, rows: 5, required: true, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row mt-3">
        <div class="col-md-3">
          <%= furniture.label :retailer_link, '購入先のリンク' %>
        </div>
        <div class="col-md-9">
          <%= furniture.text_field :retailer_link, required: true, size: "58" %>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <%= link_to_remove_association "家具を削除", furniture %>
  </div>
  <hr>
</div>