<div class="container">
  <div class="row py-5">
    <h3 class="col col-md-2 py-1 text-center" style="background-color:rgba(111,111,111,0.2);">
      <strong>部屋一覧</strong>
    </h3>
  </div>

  <hr>
  <hr>

  <div class="row mt-5">
    <div class="col-md-5 offset-md-6 d-flex align-items-center justify-content-center text-danger">
      ※部屋の写真が詳細ページのリンクになっております。
    </div>
  </div>

  <div class="row py-3" style="background-color:#ddd;">
    <div class="col-md-5 text-center">
      < - - 部屋の写真 - - >
    </div>
    <div class="col-md-2 text-center">
      < - - ユーザー名 - - >
    </div>
    <div class="col-md-5 text-center">
      < - - 部屋の紹介文 - - >
    </div>
  </div>

  <hr class="row my-4">

  <% @rooms.each do |room| %>
  <div class="row py-3" style="background-color:#eee;">
    <div class="col-md-5 text-center" style="background-color:#eee;">
      <%= link_to room_path(room) do %>
        <%= image_tag room.room_image, size: "430x250" %>
      <% end %>
    </div>
    <div class="col-md-2 text-center pt-3">
      <%= link_to customer_path(room.customer), style: "color: #000; text-decoration: none;" do %>
        <%= room.customer.last_name %><%= room.customer.first_name %>さん
      <% end %>
    </div>
    <div class="col-md-5 text-center py-5">
      <%= room.introduction %>
    </div>
  </div>
  <hr>
  <% end %>
</div>