<div class="container">
  <div class="row py-5">
    <h3 class="col col-md-2 py-1 text-center" style="background-color:rgba(111,111,111,0.2);">
      <strong>жЃет▒ІСИђУдД</strong>
    </h3>
  </div>

  <hr>
  <hr>

  <div class="row mt-5">
    <div class="col-md-5 offset-md-6 d-flex align-items-center justify-content-center text-danger">
      Рђ╗жЃет▒ІсЂ«тєЎуюЪсЂїУЕ│у┤░сЃџсЃ╝сѓИсЂ«сЃфсЃ│сѓ»сЂФсЂфсЂБсЂдсЂісѓісЂЙсЂЎсђѓ
    </div>
  </div>

  <div class="row py-3" style="background-color:#ddd;">
    <div class="col-md-5 text-center">
      < - - жЃет▒ІсЂ«тєЎуюЪ - - >
    </div>
    <div class="col-md-2 text-center">
      < - - сЃдсЃ╝сѓХсЃ╝тљЇ - - >
    </div>
    <div class="col-md-5 text-center">
      < - - жЃет▒ІсЂ«у┤╣С╗ІТќЄ - - >
    </div>
  </div>

  <hr class="row my-4">

  <% @rooms.each do |room| %>
  <div class="row py-3" style="background-color:#eee;">
    <div class="col-md-5 text-center" style="background-color:#eee;">
      <%= link_to room_path(room) do %>
        <%= image_tag room.room_image, size: "430x250" %>
      <% end %>
    </div>
    <div class="col-md-2 text-center pt-3">
      <div class="row">
        <%= link_to customer_path(room.customer), style: "color: #000; text-decoration: none;" do %>
          <%= room.customer.last_name %><%= room.customer.first_name %>сЂЋсѓЊ
        <% end %>
      </div>
      <div class="row py-5">
        <% if room.favorited_by?(current_customer) %>
          <%= link_to room_favorites_path(room), method: :delete, style: "color: #ff0303; text-decoration: none;" do %>
            <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
            <%= room.favorites.count %> сЂёсЂёсЂГ­ЪЉЇ
          <% end %>
        <% else %>
          <%= link_to room_favorites_path(room), method: :post, style: "text-decoration: none;" do %>
            <i class="fas fa-heart" aria-hidden="true"></i>
            <%= room.favorites.count %> сЂёсЂёсЂГ
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-5 text-center py-5">
      <%= room.introduction %>
    </div>
  </div>
  <hr>
  <% end %>
</div>