<div class="container">
  <div class="row py-5">
    <h3 class="col col-md-2 offset-md-1 py-1 rounded text-center" style="background-color:rgba(111,111,111,0.2);">
      <strong>部屋一覧</strong>
    </h3>
  </div>

  <div class="row pb-5">
    <div class="col-md-5 offset-md-7">
      <!--検索機能-->
      <%= search_form_for(@q, url: {controller: 'rooms', action: 'index' }) do |f| %>
        <div class="row py-2">
          <!--name_contは、あいまい検索を指定-->
        <%= f.select :taste_name_cont, options_from_collection_for_select(Taste.all, :name, :name) %>

          <div class="pl-4"><%= f.submit "検索" %></div>
        </div>
      <% end %>
    </div>
  </div>

  <hr>
  <hr>

  <div class="row mt-5">
    <div class="col-md-5 offset-md-6 d-flex align-items-center justify-content-center text-danger">
      ※部屋の写真が詳細ページのリンクになっております。
    </div>
  </div>

  <div class="row py-3 rounded" style="background-color:#ddd;">
    <div class="col-md-5 text-center">
      < - - 部屋の写真 - - >
    </div>
    <div class="col-md-2 text-center">
      < - - ユーザー名 - - >
    </div>
    <div class="col-md-5 text-center">
      < - - 部屋の紹介文 - - >
    </div>
  </div>

  <hr class="row my-4">

  <% @rooms.each do |room| %>
  <div class="row py-3 rounded" style="background-color:#eee;">
    <div class="col-md-5 text-center" style="background-color:#eee;">
      <%= link_to room_path(room) do %>
        <%= image_tag room.room_image, size: "430x250" %>
      <% end %>
    </div>
    <div class="col-md-2 pt-3">
      <div class="row text-center" style="width:100%">
        <div  style="flex: 0 0 100% !important;">
          <div class="col-12 text-center">
        <%= link_to customer_path(room.customer), style: "color: #000; text-decoration: none;" do %>
          <%= room.customer.last_name %><%= room.customer.first_name %>さん
        <% end %>
          </div>
        </div>
      </div>

      <div class="row text-center pt-5" style="width:100%">
        <div  style="flex: 0 0 100% !important;">
          <div class="col-12 text-center">
            <%= room.taste.name %>
          </div>
        </div>
      </div>

      <div class="row py-5" style="width:100%">
        <div  style="flex: 0 0 100% !important;">
          <div class="col-12 text-center">
            <% if current_customer.id != 1 %>
              <% if room.favorited_by?(current_customer) %>
                <%= link_to room_favorites_path(room), method: :delete, style: "color: #ff0303; text-decoration: none;" do %>
                  <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                  <%= room.favorites.count %> いいね👍
                <% end %>
              <% else %>
                <%= link_to room_favorites_path(room), method: :post, style: "text-decoration: none;" do %>
                  <i class="fas fa-heart" aria-hidden="true"></i>
                  <%= room.favorites.count %> いいね
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 text-center py-5">
      <%= room.introduction %>
    </div>
  </div>
  <hr>
  <% end %>
</div>