<div class="container py-5">
  <div class="row mb-5">
    <h2 class="col col-md-6 offset-md-3 py-1 rounded d-flex align-items-center justify-content-center"  style="background-color:rgba(111,111,111,0.2);">
      <%= link_to customer_path(@room.customer.id), style: "color: #000; text-decoration: none;" do %>
        <div class="text-dark"><strong><%= @room.customer.last_name %><%= @room.customer.first_name %></strong>さんの部屋詳細</div>
      <% end %>
    </h2>
  </div>

  <hr>
  <hr>

  <div class="row pt-3">
    <h3 class="col col-md-2 rounded d-flex align-items-center justify-content-center"  style="background-color:rgba(111,111,111,0.2);">
      <strong>部屋</strong>
    </h3>
  </div>

  <div class="row py-5">
    <div class="col col-md-10 offset-md-1 d-flex align-items-center justify-content-center">
      <%= image_tag @room.room_image, width: "100%", height: "100%" %>
    </div>
  </div>

    <hr>

  <div class="row py-3">
    <div class="col-md-2 offset-md-1">
      <h3>テイスト</h3>
    </div>
    <div class="col-md-6 offset-md-2">
      <h3><%= @room.taste.name %></h3>
    </div>
  </div>

  <hr>

  <div class="row py-3">
    <div class="col-md-3 offset-md-1">
      <h3>部屋の紹介文</h3>
    </div>
  </div>
  <div class="row pt-3 pb-5">
    <div class="col-md-10 offset-md-2">
      <h5><%= @room.introduction %></h5>
    </div>
  </div>

    <hr>
    <hr>

  <div class="row pt-3 pb-5">
    <h3 class="col col-md-2 rounded d-flex align-items-center justify-content-center"  style="background-color:rgba(111,111,111,0.2);">
      <strong>家具</strong>
    </h3>
    <div class="col-md-5 offset-md-1 d-flex align-items-center justify-content-center text-danger">
      ※家具の写真が購入先のリンクになっております。
    </div>
  </div>

  <%# 家具の存在確認 %>
  <% if @room.furnitures.count == 0 %>
    <%# 家具がない場合の表示 %>
    <div class="row py-3">
      <div class="col col-md-4 offset-md-2 text-center">
        <h5>おすすめの家具なし</h5>
      </div>
    </div>
  <% else %>
    <%# 家具がある場合の表示 %>
    <% @room.furnitures.each do |furniture| %>
    <div class="row py-5">
      <div class="col-md-5 offset-md-1" style="text-align: center;">
        <%= link_to furniture.retailer_link do %>
          <%= image_tag furniture.furniture_image, class: 'furniture-img-size' %>
        <% end %>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="row mt-3 px-5">
          商品名　<%= furniture.name %>
        </div>
        <div class="row mt-3 px-5">
          税抜価格　<%= furniture.price.to_s(:delimited) %>円
        </div>
        <div class="row mt-3 px-5">
          家具の紹介文
        </div>
        <div class="row mt-3">
          <div class="col-md-10 offset-md-1">
            <%= furniture.introduction %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <% end %>
  <% end %>

  <% if @room.customer == current_customer %>
  <div class="row py-5">
    <div class="col-md-2 offset-md-2">
      <%= link_to edit_room_path(@room), style: "text-decoration: none;" do %>
        <h5 class="text-success">部屋編集</h5>
      <% end %>
    </div>
    <div class="col-md-2 ">
      <%= link_to room_path(@room), method: :delete, "data-confirm" => "本当に削除しますか？", style: "text-decoration: none;" do %>
        <h5 class="text-danger">部屋削除</h5>
      <% end %>
    </div>
  </div>
  <% end %>

  <hr>

  <div class="row py-3">
    <div class="col-md-3 offset-md-1">
      <h3>コメント一覧</h3>
    </div>
  </div>

  <% if current_customer.id != 1 %>
  <div class="row py-3">
    <div class="col-md-6 offset-md-3">
      <% if customer_signed_in? %>
        <%= form_with model: [@room, @comment] do |f| %>
          <%= f.text_area :body, placeholder: "感想やアドバイスなど！", required: true, class: "w-50" %>
          <%= f.submit "送信する" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>


  <hr>

  <% @comments.each do |c| %>
    <% if c.customer.is_deleted == false %>
    <div class="row py-3">
      <div class="col-md-8 offset-md-2">
        <div class="row">
          <div class="col-md-9 offset-md-1 px-3">
            <%= c.body %>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-md-5 offset-md-1">
            <%= link_to customer_path(c.customer.id), style: "color: #000; text-decoration: none;" do %>
              <div class="text-dark"><strong><%= c.customer.last_name %><%= c.customer.first_name %></strong>さんより</div>
            <% end %>
          </div>

          <% if customer_signed_in? %>
            <% if current_customer.id == c.customer_id %>
              <div class="col-md-1 offset-md-3">
                <%= link_to "編集", edit_room_comment_path(@room, c), style: "color: #00a500; text-decoration: none;" %>
              </div>
              <div class="col-md-1 offset-md-1">
                <%= link_to "削除", room_comment_path(@room, c), method: :delete, "data-confirm" => "本当に削除しますか？", style: "color: #ca0000; text-decoration: none;" %>
              </div>
            <% elsif current_customer.id == @room.customer_id then %>
              <div class="col-md-1 offset-md-5">
                <%= link_to "削除", room_comment_path(@room, c), method: :delete, "data-confirm" => "本当に削除しますか？", style: "color: #ca0000; text-decoration: none;" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
    <% end %>
  <% end %>
</div>