<div class="admin-customers">
  <div class="container">
    <div class="row py-5">
      <h3 class="col col-md-5 py-1 text-center" style="background-color:rgba(136,0,27,0.4);">
        <%= @customer.last_name %><%= @customer.first_name %>さんの<strong>会員情報編集</strong>
      </h3>
    </div>

    <div class="row pt-5 pb-3">
      <div class="col col-md-4 offset-md-2">
        会員ID　　　　 　　　<%= @customer.id %>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-8 offset-md-2">
      <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
        <div class="row py-3 field">
          <div class="col col-md-2">
            <label class="name">名前　　　　　　　　　　　　</label>
          </div>
          <div class="col col-md-8">
            <%= f.text_field :last_name, autofocus: true, placeholder:"令和" %>
            <%= f.text_field :first_name, placeholder:"道子" %>
          </div>
        </div>

        <div class="row py-3 field">
          <div class="col col-md-2">
            <label class="kana">フリガナ　　　　　　　　　　</label>
          </div>
          <div class="col col-md-8">
            <%= f.text_field :last_name_kana, placeholder:"レイワ" %>
            <%= f.text_field :first_name_kana, placeholder:"ミチコ" %>
          </div>
        </div>

        <div class="row py-3 field">
          <div class="col col-md-3">
            <label class="email">メールアドレス　　　　　　　　　</label>
          </div>
          <div class="col col-md-6 offset-md-1">
            <%= f.email_field :email, placeholder:"sample@example.com", size: 29 %>
          </div>
        </div>

        <div class="row py-3 field">
          <div class="col col-md-3">
            <label class="is_deleted">会員ステータス　　　</label>
          </div>
          <div class="col col-md-6 offset-md-1">
            <%= f.radio_button :is_deleted, :false %>
            <%= f.label :is_deleted, "有効　　" %>
            <%= f.radio_button :is_deleted, :true %>
            <%= f.label :is_deleted, "退会" %>
          </div>
        </div>

        <div class="row pt-3 pb-5">
          <div class="actions col col-md-2 offset-md-4">
            <%= f.submit "　変更を保存　", class:"btn btn-success" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>