<div class="admin-customers">
  <div class="container">
    <div class="row py-5">
      <h3 class="col col-md-2 py-1 text-center offset-md-1" style="background-color:rgba(136,0,27,0.4);">
        <strong>会員一覧</strong>
      </h3>
    </div>

    <div class="row pb-5">
      <div class="col-md-5 offset-md-7">
        <!--検索機能-->
        <%= search_form_for(@q, url: {controller: 'homes', action: 'top' }) do |f| %>
          <div class="row py-2">
            <!--name_contは、あいまい検索を指定-->
            <div class="pl-3"><%= f.label :last_name, "名前(姓)" %></div>
            <div class="pl-3"><%= f.search_field :last_name_cont, placeholder:"部分一致あり" %></div>
          </div>
          <div class="row">
            <div class="pl-3"><%= f.label :first_name, "名前(名)" %></div>
            <div class="pl-3"><%= f.search_field :first_name_cont, placeholder:"部分一致あり" %></div>

            <div class="pl-3">
              <%= f.submit "検索" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col mx-auto">
        <table class="table table-bordered">
          <thead style="background-color:rgba(136,0,27,0.6);">
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody style="background-color:rgba(255,255,255,0.8);">
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.id %></td>
                <td>
                  <%= link_to admin_customer_path(customer), style: "color: #000; text-decoration: underline;" do %>
                    <%= customer.last_name %><%= customer.first_name %>
                  <% end %>
                </td>
                <td><%= customer.email %></td>
                <% if customer.is_deleted == false %>
                  <td class="text-success font-weight-bold">有効</td>
                <% else %>
                  <td class="text-secondary font-weight-bold">退会</td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>