<div class="container">
  <div class="row mb-5">
    <h4 class="col col-md-2 offset-md-2 text-center" style="background-color:#DDD">
      <strong>新規会員登録</strong>
    </h4>
  </div>
  <div class="row">
    <div class="col col-md-8 offset-md-2">
      <%= form_with model: @customer, url: customer_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class="field">
          <label class="name">名前　　　　　　　　　　</label>
          <%= f.label :last_name, "(姓)" %>
          <%= f.text_field :last_name, autofocus: true, placeholder:"令和" %>
          <%= f.label :first_name, "　(名)" %>
          <%= f.text_field :first_name, placeholder:"道子" %>
        </div>

        <div class="field">
          <label class="kana">フリガナ　　　　　　　</label>
          <%= f.label :last_name_kana, "(セイ)" %>
          <%= f.text_field :last_name_kana, placeholder:"レイワ" %>
          <%= f.label :first_name_kana, "(メイ)" %>
          <%= f.text_field :first_name_kana, placeholder:"ミチコ" %>
        </div>

        <div class="field">
          <label class="email">メールアドレス　　　　　　　</label>
          <%= f.email_field :email, placeholder:"sample@example.com" %>
        </div>

        <div class="field">
          <label class="password">パスワード（６文字以上）　　</label>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <label class="password_confirmation">パスワード（確認用）　　　　</label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions mt-3 col-md-1 offset-md-3">
          <%= f.submit "　　新規登録　　", class:"btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row mb-2">
    <h4 class="col col-md-3 offset-md-2 text-center mt-4" style="background-color:#DDD">
      <strong>既に登録済みの方</strong>
    </h4>
  </div>
  <div class="row mb-5 mt-3">
    <div class="col col-md-8 offset-md-3">
      <p><%= link_to "こちら", new_customer_session_path %>　からログインしてください。</p>
    </div>
  </div>
</div>