<div class="customer-session">
  <div class="container py-5">
    <div class="row mb-5">
      <h4 class="col col-md-2 offset-md-2 rounded py-1 text-center" style="background-color:rgba(191,255,0,0.3);">
        <strong>ログイン</strong>
      </h4>
    </div>
      <div class="row mb-5">
        <h5 class="col col-md-4 offset-md-3 rounded py-2 text-center" style="background-color:rgba(191,255,0,0.3);">
          <strong>会員の方はこちらからログイン</strong>
        </h5>
      </div>
      <div class="row mb-5 mt-3">
        <div class="col col-md-8 offset-md-3">
        <%= form_with model: @customer, url: customer_session_path do |f| %>
        <p class="alert"><%= alert %></p>
          <%= render "public/shared/error_messages", resource: resource %>
          <div class="row py-3 field">
            <div class="col col-md-3">
              <label class="email">メールアドレス　　　</label>
            </div>
            <div class="col col-md-6 offset-md-1">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com", required: true, size: 40 %>
            </div>
          </div>

          <div class="row py-3 field">
            <div class="col col-md-3">
              <label class="password">パスワード　　　　　</label>
            </div>
            <div class="col col-md-6 offset-md-1">
              <%= f.password_field :password, autocomplete: "current-password", required: true, size: 40 %>
            </div>
          </div>

          <div class="row py-4 field">
            <div class="actions col-md-1 offset-md-4 d-flex align-items-center justify-content-center">
              <%= f.submit "　ログイン　", class:"btn btn-primary" %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div class="row mb-2">
        <h5 class="col col-md-3 offset-md-3 rounded py-2 text-center mt-4" style="background-color:rgba(191,255,0,0.3);">
          <strong>会員登録がお済みでない方</strong>
        </h5>
      </div>
      
      <div class="row my-5">
        <div class="col col-md-8 offset-md-4">
          <p><%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。</p>
        </div>
      </div>
    </div>
  </div>
</div>