<!DOCTYPE html>
<html>
  <head>
    <title>SpaceReference</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
    .jumbotron { background:url("<%= asset_path('mokuzai.jpg') %>"); center no-repeat; background-size: cover;}
    </style>
  </head>

  <body>
    <%= render 'layouts/header' %>
      <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
